<?xml version="1.0" encoding="UTF-8"?>
<server description="Frontend service">
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9090"/>
    <variable name="https.port" defaultValue="9091"/>
    <variable name="context.root" defaultValue="frontend"/>

    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                  id="defaultHttpEndpoint" />

    <webApplication contextRoot="/" location="${context.root}.war" />
</server>